@import "tailwindcss";

@theme {
  --color-primary: #ff5100;
  --color-primary-hover: #ff7a00;
  --color-primary-gradient: #ffa800;
  --background-image-gradient-primary: linear-gradient(
    135deg,
    #ff5100,
    #ffa800
  );

  /* Light */
  --color-bg-light: #fff;
  --color-text-light: #1a1d20;
  --color-card-light: #fff;
  --color-bg-accent-light: #ffefe6;

  /* Dark */
  --color-bg-dark: #1a1d20;
  --color-text-dark: #ffffff;
  --color-card-dark: #2d3238;
  --color-bg-accent-dark: #ffefe6;
}

@layer base {
  body {
    @apply bg-bg-light text-text-light transition-colors duration-300 text-xs sm:text-base;
  }

  #root {
    @apply relative w-full overflow-hidden;
  }

  @variant dark {
    body {
      @apply bg-bg-dark text-text-dark;
    }
  }
}

@keyframes carouselFade {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  50% {
    opacity: 0;
    transform: translateY(-4px) scale(0.99); /* Moment zmiany treści w JS */
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-page-change {
  animation: carouselFade 0.35s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
